***********************************************************
*                                                         *
* DRILL TAPE SUMMARY REPORT                               *
*                                                         *
* D:\UTENTI\00.LAVORI IN CORSO\METALTRONICA\22-314-0.MAX  *
* Sat Oct 08 10:31:09 2022                                *
*                                                         *
***********************************************************

TOOL     SIZE     QUANTITY FEED     SPEED    
---------------------------------------------
T1       118      16       200      100                                                                                 
T2       315      10       200      100                                                                                 
T3       433      48       200      100                                                                                 
T4       512      56       200      100                                                                                 
T5       590      5        200      100                                                                                 
T6       591      14       200      100                                                                                 
T7       630      2        200      100                                                                                 
T8       1378     6        200      100                                                                                 
